body {
    background-image: url("GHT48q.jpg");
    background-color: #cccccc;
}


.jumbotron{
	text-align: center;
	margin: 100px;
}

.table
{
	margin: 0 auto;
	margin-bottom: 100px;
	font: #FFFFFF;
	background-color: #e4d1d1;

}

.container {
	margin: 0 auto;
	text-align: center;
	font: #FFFFFF;
}